<div class="footer">
    <i class="fa fa-fw fa-circle-o"></i>
    <a href="/impressum">Impressum</a>
    <i class="fa fa-fw fa-circle-o"></i>
    Copyright © 2014 Dennis Bappert.
    <i class="fa fa-fw fa-circle-o"></i>
    Blog powered by <a href="https://ghost.org/">Ghost</a>.
    <i class="fa fa-fw fa-circle-o"></i>
    Handcrafted ghost theme on
    <a href="https://github.com/flumbee/ghost-portfolio-blog">github</a>.
</div>